// Place all the styles related to the applists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.showapp {
	padding-left: 20px;
}

.row {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.row p {
	margin: 4px 0;
}